{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Tableau de bord</h1>

    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <a class="btn btn-primary" href="#">Calcul distances</a>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary disabled" href="#">A venir...</a>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary disabled" href="#">A venir...</a>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary disabled" href="#">A venir...</a>
        </div>
    </div>
{% endblock %}
