{% extends 'base.html.twig' %}

{% block title %}Édition d'un CGO
{% endblock %}

{% block body %}
	<h1 class="col-12 text-center my-5">Édition d'un CGO</h1>

	<a class="btn btn-secondary mb-2" href="{{ path('app_admin_cgo_index') }}">Retour à la liste</a>


	<div class="row">
		<div class="col-6 mx-auto">
			{{ include('admin_cgo/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</div>


	{{ include('admin_cgo/_delete_form.html.twig') }}
{% endblock %}
