{% extends 'base.html.twig' %}

{% block title %}Edit ColorShop{% endblock %}

{% block body %}
    <h1>Edit ColorShop</h1>

    {{ include('admin/color_shop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_color_shop_index') }}">back to list</a>

    {{ include('admin/color_shop/_delete_form.html.twig') }}
{% endblock %}
