<footer class="mt-auto text-primary-50 text-center pt-5">
    <a class="text-decoration-none" href="https://www.je-developpe.fr/" class="text-white">Site créé par: Je-Développe</a><br/>
    <small>Version 1.50</small></p>
</footer>