{% extends 'base.html.twig' %}

{% block title %}TypeOfShop index
{% endblock %}

{% block body %}
	<h1>TypeOfShop index</h1>

	<table class="table table-striped text-center align-middle">
		<thead>
			<tr>
				<th>Type</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type_of_shop in type_of_shops %}
				<tr>
					<td>{{ type_of_shop.type }}</td>
					<td>
						<a class="btn btn-warning" href="{{ path('app_type_of_shop_edit', {'id': type_of_shop.id}) }}">Éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_type_of_shop_new') }}">Create new</a>
{% endblock %}
