
<table>
    {% for color in colors %}
        <tr>
            <td><span class="badge" style="color:{{ color.textColor }}; background-color:{{ color.bgColor }};"> {{ color.name }} </span></td>
        </tr>
    {% endfor %}
</table>