{% extends 'base.html.twig' %}

{% block title %}Edit TypeOfShop{% endblock %}

{% block body %}
    <h1>Edit TypeOfShop</h1>

    {{ include('admin/type_of_shop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_of_shop_index') }}">back to list</a>

    {{ include('admin/type_of_shop/_tableColors.html.twig') }}

    {{ include('admin/type_of_shop/_delete_form.html.twig') }}
{% endblock %}
