{% extends 'base.html.twig' %}

{% block title %}New TypeOfShop{% endblock %}

{% block body %}
    <h1>Create new TypeOfShop</h1>

    {{ include('admin/type_of_shop/_form.html.twig') }}

    <a href="{{ path('app_type_of_shop_index') }}">back to list</a>
{% endblock %}
